In [24]:
import pandas as pd
import numpy as np

# Review Analysis

In [25]:
# File to Load
review_data = "vine_table.csv"

In [26]:
#read the CSV into a DataFrame
review_data_df = pd.read_csv(review_data, low_memory=False)

In [28]:
# Filter the rows where total_votes is equal to or greater than 20
filtered_rev_data = review_data_df[review_data_df["total_votes"] >= 20]

In [32]:
#filter the new datafram to retireve the rows where helpfule_votes divided by total_votes is greater than or equal to 50%
calc_rev_data = filtered_rev_data[review_data_df["Helpful_votes"]/ review_data_df["total_votes"] >= 0.5]

C:\Users\natal\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

## Paid Participant Reviews

In [40]:
#filter the datafram to retireve the rows where a review was written as part of the vine program (YES)
vine_program_yes = calc_rev_data[calc_rev_data["vine"] == 'Y']
vine_program_yes

,review_id,star_rating,Helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4,50.0,51.0,Y,N
...,...,...,...,...,...,...
8887352,R1S2HIHNB0FJC0,2,180.0,196.0,Y,N
8887434,R3ADVLGTBP0TNX,4,36.0,43.0,Y,N
8910450,R9OB51UW8R4EW,3,13.0,23.0,Y,N
8912079,R3OT72XT5WKCYN,5,27.0,40.0,Y,N
8912399,R2Y9JUXDM65FZW,2,17.0,30.0,Y,N

In [48]:
#Total reviews of Paid Participants
total_y_reviews = vine_program_yes.count()["review_id"]
total_y_reviews

613

In [67]:
#number of 5-star reviews of paid participants
y_fivestar_reviews = vine_program_yes[(vine_program_yes["star_rating"] == '5')].count()["review_id"]
y_fivestar_reviews

222

In [70]:
#precentage of five star reviews against the total of paid participants
yes_percent = y_fivestar_reviews / total_y_reviews * 100
yes_percent

36.215334420880914

## Unpaid Participant Reviews

In [43]:
vine_program_no = calc_rev_data[calc_rev_data["vine"] == 'N']
vine_program_no

,review_id,star_rating,Helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [71]:
#Total reviews of Unpaid Participants
total_n_reviews = vine_program_no.count()["review_id"]
total_n_reviews

64968

In [73]:
#number of 5-star reviews of Unpaid participants
n_fivestar_reviews = vine_program_no[(vine_program_no["star_rating"] == '5')].count()["review_id"]
n_fivestar_reviews

30543

In [74]:
#precentage of five star reviews against the total of unpaid participants
no_percent = n_fivestar_reviews / total_n_reviews * 100
no_percent

47.01237532323606